@charset "UTF-8";



@media (max-width:785px){

    /*menu mobile*/
    header{
        height: 10vh;
    }
    .navigation{
        height: 10vh;
        padding: 18px 20px;
    }

    .menu{
        display: block;       
    }
    .nav-menu{
        position: fixed; 
        right: -800px;    
        top: 70px;
        width: 100%;
        height: 100vh; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--white); 
        transition: all 0.3s;
    }
    

    .nav-item{
        margin: 10px 0px;
    }
    
    .nav-menu .nav-item a{
       color:  var(--blue);
    }

    /*****style ativo = modifica o menu para x*/
    .menu.ativo .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);      
    }
    .menu.ativo .bar:nth-child(2){
        opacity: 0;      
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);      
    }
    /*---------*/
 .nav-menu.ativo{
    right: 0;
} 

 /*----home-----*/
 .home{
 padding: 100px 4rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 overflow: hidden;
 gap:8rem;
 height: 90vh;
}

.home-text .text-h4 {
    font-size: 1.8rem;
    line-height: 0.8rem;
}

.home-text .text-h1 {     
    font-size: 2.5rem;
}

.home-text p {
    margin-bottom: 0.8rem;
}
}